@import 'tailwindcss';

:root {
  --primary-white: #f4f7fd;
  --secondary-text: #B77B5A;
  --head-text: #473e39;
  --button-primary: #1B0400;
  --button-secondary: #E89955;
  --carousel-button-bg: #DD7338;

}

body {
  font-family: Poppins, sans-serif;
}
